/*Header*/
header {
  background-image: url(../img/bg-header.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: bottom center;
  padding: 38px 0 145px 25px;
}

nav {
  padding-top: 11px;
}

header ul li a {
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 45px;
  color: #FFFFFF;
  -webkit-transition: all linear 0.5s;
     -moz-transition: all linear 0.5s;
       -o-transition: all linear 0.5s;
}

header ul li a:hover {
  color: #EB4839;
  text-decoration: none;
}

.header__title {
  font-family: Montserrat;
  font-size: 50px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 150px;
  position: relative;
}

.header__title:after {
  content: "";
  background-color: #36B9EB;
  height: 1px;
  width: 110px;
  left: 50%;
  bottom: -53px;
  margin-left: -55px;
  position: absolute;
}

.header__subtitle {
  font-family: Noto Sans;
  color: #CCCCCC;
  margin-top: 95px;
}
/*Header*/

/*Services*/
.services {
	padding: 90px 0 95px 0;
}
.services__title {
	font-family: Montserrat;
	text-transform: uppercase;
	font-size: 40px;
	position: relative;
}

.services__title:after {
  content: "";
  background-color: #36B9EB;
  height: 1px;
  width: 110px;
  left: 50%;
  bottom: -40px;
  margin-left: -55px;
  position: absolute;
}

.services__item {
	text-align: center;
	margin-top: 80px;
}

.services__item__title {
	display: block;
	font-family: Montserrat;
	font-size: 16px;
	text-transform: uppercase;
	color: #000;
	margin-top: 38px;
}

.services__item__text {
	display: inline-block;
	max-width: 320px;
	font-family: Noto Sans;
	font-size: 14px;
	color: #888888;
	margin-top: 15px;
}
/*Services*/